#hero {
  background-color: #222;
  background-image: url(../images/infinite-loop-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 650px;
  display: flex;
  align-items: center;
  .slider-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
      h3{
        font-size: 56px;
        text-shadow: 2px 2px 2px #333;
        margin-bottom: 30px;
        font-weight: 500;
        line-height: 1.2;
        color: $white;
      }
      p {
        color: $white;
        text-shadow: 2px 2px 2px #333;
        font-size: 20px;
        font-family: "Raleway", sans-serif;
      } 
      .section-btn {
        background: $theme-color;
        border-radius: 0;
        border: 0;
        color: #f9f9f9;
        font-size: inherit;
        font-weight: normal;
        padding: 10px 25px;
        transition: 0.5s 0.2s;
        &:hover{
            background-color: transparent;
            border: 1px solid $theme-color;
            transition: 0.5s 0.2s;
        }
    }   
  }
  .slider-btn{
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;
    .down-btn{
      padding: 13px 20px;
      letter-spacing: 0.5px;
      background-color: $theme-color;
      color: $white;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 700;
      text-decoration: none;
    }
    .more-btn{
      padding: 13px 20px;
      letter-spacing: 0.5px;
      background-color: #f2745f;
      color: $white;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 700;
      text-decoration: none;
    }
  }
}
