<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/favicon.ico">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


    <title>Infinite Loop</title>

    <% include /src/include/styles.ejs %>

</head>

<body>

    <% include /src/include/header.ejs %>

    <section id="hero">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 slider-contact">
                    <h3>Infinite Loop</h3>
                    <p>Bootstrap 4.0 Parallax Theme</p>
                    <p>Free HTML Template by TOOPLATE</p>
                </div>
            </div>
        </div>
    </section> 
    <section id="whatwedo">
        <div class="container">
            <div class="row">
                <div class="col-md-12 whatwedo-details">
                    <h4>What We Do</h4>
                    <p>This is Infinite Loop, free Bootstrap 4.0 HTML template with a parallax effect. This layout is what you can modify and
                    use for your websites. Please spread a word to your friends about our website. Thank you for supporting us. If you have
                    any question, you can contact us or chat with us on our <a href="#">Tooplate Facebook page.</a></p>
                </div>
            </div>
            <div class="row tm-content-box">
                <!-- second row -->
                <div class="col-lg-1">
                    <i class="far fa-3x fa-chart-bar text-center tm-icon"></i>
                </div>
                <div class="col-lg-5">
                    <div class="tm-intro-text-container">
                        <h2 class="tm-text-primary mb-4">Market Analysis</h2>
                        <p class="mb-4 tm-intro-text">
                            Praesent sed pharetra lorem, blandit convallis mi. Aenean ornare elit ac metus lacinia, sed iaculis nibh
                            semper. Pellentesque est urna.</p>
                    </div>
                </div>
            
                <div class="col-lg-1">
                    <i class="far fa-3x fa-comment-alt text-center tm-icon"></i>
                </div>
                <div class="col-lg-5">
                    <div class="tm-intro-text-container">
                        <h2 class="tm-text-primary mb-4">Fast Support</h2>
                        <p class="mb-4 tm-intro-text">
                            Credit goes to <a rel="nofollow" href="#">Pexels</a> website for all images used in
                            this template. Cras condimentum mi et sapien dignissim luctus.</p>
                    </div>
                </div>
            </div>
            <div class="row tm-content-box">
                <!-- third row -->
                <div class="col-lg-1">
                    <i class="fab fa-accusoft fa-3x tm-icon"></i>
                </div>
                <div class="col-lg-5">
                    <div class="tm-intro-text-container">
                        <h2 class="tm-text-primary mb-4">Top Security</h2>
                        <p class="mb-4 tm-intro-text">
                            You have <strong>no</strong> authority to post this template as a ZIP file on your template collection
                            websites. You can <strong>use</strong> this template for your commercial websites.</p>
            
                        <div class="tm-continue">
                            <a href="#" class="tm-intro-text tm-btn-primary">Learn More</a>
                        </div>
                    </div>
                </div>
            
                <div class="col-lg-1">
                    <i class="fas fa-3x fa-users text-center tm-icon"></i>
                </div>
                <div class="col-lg-5">
                    <div class="tm-intro-text-container">
                        <h2 class="tm-text-primary mb-4">Social Work</h2>
                        <p class="mb-4 tm-intro-text">
                            You can change <a href="#">Font Awesome icons</a> by either
                            <b><em>fas or far</em></b> in the HTML codes. For Examples:<br>
                            <em>&lt;i class="fas fa-users"&gt;&lt;i class="far fa-chart-bar"&gt;</em> </p>
            
                        <div class="tm-continue">
                            <a href="#" class="tm-intro-text tm-btn-primary">Details</a>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
    </section> 
    <section id="testimonials" class="portfolio-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 testimonials-details">
                    <h2 class="text-white text-center mb-4 tm-section-title">Testimonials</h2>
                    <p class="mx-auto tm-section-desc text-center">
                        Nulla dictum sem non eros euismod, eu placerat tortor lobortis. Suspendisse id velit eu libero pellentesque
                        interdum. Etiam quis congue eros.
                    </p>
                </div>
            </div>
            <div class="row space">
                <div class="col-lg-4 text-center">
                    <img src="images/testimonial-img-01.jpg" class="img-fluid">
                    <div class="testimonials-box">
                        <p>This background image includes a semi-transparent overlay layer. This section also has a parallax image effect.</p>
                    </div>
                </div>
                <div class="col-lg-4 text-center">
                    <img src="images/testimonial-img-02.jpg" class="img-fluid">
                    <div class="testimonials-box">
                        <p>Testimonial section comes with carousel items. You can use Infinite Loop HTML CSS template for your websites.</p>
                    </div>
                </div>
                <div class="col-lg-4 text-center">
                    <img src="images/testimonial-img-03.jpg" class="img-fluid">
                    <div class="testimonials-box">
                        <p>Nulla finibus ligula nec tortor convallis tincidunt. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>            
    <section id="portfolio" class="portfolio-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h4>WHAT WE CAN DO ELSE</h4>
                        <p>Aliquam neque neque, commodo in euismod id, lobortis in lacus. Duis interdum sagittis velit, fermentum tincidunt lectus.
                        Nam ornare turpis.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <img src="images/first-portfolio-item.jpg" class="img-fluid">
                </div>
                <div class="col-lg-3 col-sm-6">
                    <img src="images/second-portfolio-item.jpg" class="img-fluid">
                </div>
                <div class="col-lg-3 col-sm-6">
                    <img src="images/first-portfolio-item.jpg" class="img-fluid">
                </div>
                <div class="col-lg-3 col-sm-6">
                    <img src="images/third-portfolio-item.jpg" class="img-fluid">
                </div>
            </div>
        </div>
    </section>   
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h4>CONTACT US</h4>
                        <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In hac habitasse platea
                        dictumst.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <form id="contact" action="#" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <fieldset>
                                    <input name="name" type="text" class="form-control" id="name" placeholder="Name..." required="">
                                </fieldset>
                            </div>
                            <div class="col-md-6">
                                <fieldset>
                                    <input name="email" type="email" class="form-control" id="email" placeholder="Email..." required="">
                                </fieldset>
                            </div>
                            <div class="col-md-6">
                                <fieldset>
                                    <input name="subject" type="text" class="form-control" id="subject" placeholder="Subject..."
                                        required="">
                                </fieldset>
                            </div>
                            <div class="col-md-6">
                                <fieldset>
                                    <input name="phone" type="phone" class="form-control" id="phone" placeholder="Phone..." required="">
                                </fieldset>
                            </div>
                            <div class="col-md-12">
                                <fieldset>
                                    <textarea name="message" rows="6" class="form-control" id="message" placeholder="Message..."
                                        required=""></textarea>
                                </fieldset>
                            </div>
                            <div class="col-md-12">
                                <fieldset>
                                    <button type="submit" id="form-submit" class="btn">Send your message</button>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-6 mt-5">
                    <img src="images/Screenshot 2020-06-19 at 7.56.39 PM.png" class="img-fluid">
                </div>
            </div>
        </div>
    </section>        
    <% include /src/include/footer.ejs %>
    <% include /src/include/scripts.ejs %>
    <script>
        $(window).scroll(function () {
            if ($(window).scrollTop() >= 200) {
                $('nav').addClass('fixed-header');
            }
            else {
                $('nav').removeClass('fixed-header');
            }
        });
    </script>
</body>

</html>